.App {
  text-align: center;
  background-color: rgb(255, 227, 227);
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  position: relative;
  opacity: 0.5;
}

.home-overlay {
  background: rgba(0, 0, 0, 1);
}

.navbar {
  display: flex;
  top: 0;
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 1000;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  margin: 0 auto;
  font-family: Effra, Tahoma, sans-serif;
  border-bottom: 0.1rem solid transparent;
  transition: 0.3s ease-in-out;
}

.navbar.fixed {
  background-color: #faf9f2;
  border-bottom: 0.1rem solid #cfc78f;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  float: left;
  list-style: none;
}

.navbar li a {
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.1rem;
  color: white;
}

.navbar.fixed li a {
  color: #0d3f5e;
}

.logo {
  width: auto;
  height: 1.6rem;
  padding-right: 2rem;
  margin-left: 6rem;
}

table {
  display: table-header-group;
}

table,
th,
td {
  border: 1px solid black;
}
